{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/book.css' %}">
        <title>Django Libraries</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'book:book_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Django Libraries</a></h1>

            <!--<ul>-->
                {% if user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}" class="logout">Logout</a>
                {% else %}
                <p><a href="{% url 'accounts:signup' %}" class="signup">Sign up</a></p>
                <p><a href="{% url 'accounts:login' %}" class="login">Login  /</a></p>
                {% endif %}
            <!--</ul>-->
        </div>
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>