{% extends 'book/base.html' %}

{% block content %}
    <h1>Book Delete</h1>
    <div class="book">
        <p>タイトル：{{ book.title }}</p>
        <p>著者：{{ book.author }}</p>
        <p>持ち主：{{ book.holder }}</p>
        <p>発刊日：{{ book.published_date }}</p>
    </div>

    <form method="post">
        {% csrf_token %}
        <p>本当に削除しますか ?</p>
        <a class="btn btn-primary" href="{% url 'book:book_detail' pk=book.pk %}" role="button">戻る</a>
        <button class="btn btn-danger" type="submit">削除</button>

    </form>
{% endblock %}
